# Project exclude paths
/cmake-build-debug/

# Visual Studio project files
*.vs
*.cd
*.sln
*.vcxproj*
CMakeSettings.json
Debug
out

# Visual Code project files
.vscode
build

plots/*
logs/*

sprawozdanie/logs/*
*.pdf

!/sprawozdanie/grafiki/*.pdf
!/sprawozdanie/grafiki/Wykresy2d/*.png

!/sprawozdanie/grafiki2/*.pdf

